body, ul {
    margin: 0;
}


body {
    display: flex; 
    flex-direction: column; 
    height: 100vh; 
    background-image: url('../img/Fundo\ Culinaria.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

#header {
    box-sizing: border-box;
    height: 60px;
    padding: 2rem; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(255, 196, 107);
    box-shadow: 3px 3px 6px #b1b1b1; 
}

#logo {
    margin-left: 1rem; 
}

#logo img {
    height: 60px;
    width: auto;
}

#menu {
    display: flex;
    list-style: none;
    gap: 1rem; 
}

#menu ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

#menu a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

#menu a:hover {
    text-decoration: underline;
    transition: text-decoration 0.3s;
}

.main-content {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex: 1; 
}

.form-signin {
    width: 100%; 
    max-width: 400px; 
    padding: 2rem; 
    border-radius: 0.5rem; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
    background-color: white; 
   
}







